div.header {
    width: 840px;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

div.colcontainer {
    width: 840px;
    margin: 0 auto;
}

div.col1 {
    text-align: center;
    float: left;
    width: 420px;
}

div.col2 {
    float: right;
    width: 420px;
    text-align: right;
}

div.footer {
    position: relative;
    width: 840px;
    clear: both;
    margin: 0.2em auto;
    text-align: center;
}

div.translatepitch {
    margin: 1em 1em;
    padding: 0.1em;
    background: #99CCFF;
}

div.chatExpandScroll {
  height: 300px;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}

div.chatWindow {
  padding: 0.5em;
  background-color: #dddddd;
  border: 1px solid #666666;
}

#chatLog {
  background-color: white;
  margin-right: 120px;
}

#chatUserlist {
  width: 100px;
  background-color: white;
  float: right;
}

#chatInput {
  padding-top: 1em;
  clear: both;
}

.chatUserlistCell {
  width: 100px;
}

.chatTable {
  border-collapse: collapse;
  width: 100%;
}

p.message {
  margin: 0;
  padding: 0;
}

img.texbar {
  padding: 3px;
  background-color: #eeeeee;
  border:1px solid #cccccc;
  border-top:1px solid #f0f0f0;
  border-left:1px solid #f0f0f0;
}
