body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#lift__noticesContainer___notice {
    background-color: green;
}

#lift__noticesContainer___warning {
    background-color: yellow;
}

#lift__noticesContainer___error {
    background-color: red;
}

a img { border: none; }

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


div.header {
    width: 840px;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

div.colcontainer {
    width: 840px;
    margin: 0 auto;
}

div.col1 {
    text-align: center;
    float: left;
    width: 420px;
}

div.col2 {
    float: right;
    width: 380px;
    text-align: left;
}

div.footer {
    position: relative;
    width: 840px;
    clear: both;
    margin: 0.2em auto;
    text-align: center;
}

div.entryform {
    margin: 0.1em 4em;
    padding: 0.1em;
    background: #ffbb00;
}

div.mail {
    margin: 1em 1em;
    padding: 0.1em;
    background: #99CCFF;
}

div.quickie {
    margin: 1em 1em;
    padding: 0.1em;
    background: #99CCFF;
}

div.chatExpandScroll {
  height: 300px;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
  margin: 0;
}

div.adWindow {
  position: absolute;
  top: 150px;
  right: 12px;
  width: 300px;
}

div.chatWindow {
  margin-right: 320px;
  padding: 0.5em;
}

div.equation {
  border-width: 0.5em;
  border-style: outset;
  text-align: center;
  padding: 1em;
}

div.greybox {
  background-color: #cccccc;
  border: 1px solid #666666;
}

div#mailCompose {
  padding: 10px;
  width: 408px;
  height: 100%;
}

div#mailPreview {
  background-color: #FFFFD9;
  border: 1px solid #666666;
  padding: 10px;
  min-height: 300px;
}

textarea.mailTextBody {
  height: 250px;
  width: 400px;
}

#chatLog {
  background-color: white;
}

#chatUserlist {
  width: 100px;
  background-color: white;
  float: right;
}

#chatInput {
  margin-top: 4px;
  clear: both;
}

.chatUserlistCell {
  width: 100px;
}

.chatTable {
  border-collapse: collapse;
  width: 100%;
}

p.message {
  margin: 0;
  padding: 0;
}

img.texbar {
  padding: 3px;
  margin: 0;
  background-color: #dddddd;
  border:1px solid #444444;
  cursor: hand;
}

